#1.What are data structures, and why are they important ?

--Data Structures are ways of organizing and storing data so that it can be     accessed and modified efficiently.

#2.Explain the difference between mutable and immutable data types with examples.

 --Lists are mutable in Python. We can add or remove elements from the list. In Python, mutability refers to the capability of an object to be changed or modified after its creation.

--Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple. In simple words, an immutable object can’t be changed after it is created.
For Example.

In [ ]:
s="Python"
s[1]="i" # string object does not allow item assignment.
s

TypeError: 'str' object does not support item assignment

In [ ]:
list1 = [1, 2, 3, 4]
list1[2] = 5 # list is Mutatable. it changes index value.
list1

[1, 2, 5, 4]

# 3.What are the main differences between lists and tuples in Python
--List is mutable which means its elements can be updated as per requirement.It is useful for insertion and deletion operations.It consumes more memory.
Whereas Tuple is immutable which means we can't modify its element once created.Tuple iteration is faster.It consumes less memory.

#4. Describe how dictionaries store data.
---Dictionary is a data structure that store data as key- value pair.
--keys are unique and immutable.
For Example:

In [ ]:
dic ={"Name":"Priyanka","Address":"asansol"}
dic.keys()

dict_keys(['Name', 'Address'])

In [ ]:
dic.values()

dict_values(['Priyanka', 'asansol'])

# 5 Why might you use a set instead of a list in Python3
---sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list.

#6.What is a string in Python, and how is it different from a list
----**Strings:**

Strings are sequences of characters (letters, numbers, symbols, etc.).

They are immutable, meaning their content cannot be changed after creation.

Strings are enclosed in single or double quotes (e.g., "hello" or 'world').

They are primarily used for storing and manipulating text data.

**Lists:**

Lists are ordered collections of items.

Lists are mutable, meaning you can add, remove, or modify items after creation.

Lists are defined using square brackets (e.g., [1, 2, 3] or [“apple”, “banana”, “cherry”]).

Lists can contain elements of different data types (e.g., numbers, strings, booleans, even other lists).

Lists are used for storing and manipulating collections of data.

# 7. How do tuples ensure data integrity in Python?
--Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data within a tuple remains constant throughout its lifecycle.

# 8.What is a hash table, and how does it relate to dictionaries in Python?

--A hash table is a data stucture that store data in key-value pairs. And allows very fast access to values using keys.
In dictionary data also  store as key-value pairs. And value can be access by using keys.

#9. Can lists contain different data types in Python?
---Yes, lists in Python can contain different data types. A single list can hold integers, floats, strings, booleans, and even other lists, tuples, or dictionaries.
for example

In [ ]:
list1 =[1,2,"Python", 2.3, (2,3,4),{"key":"value"}]
list1

[1, 2, 'Python', 2.3, (2, 3, 4), {'key': 'value'}]

In [ ]:
type(list1)

list

#10. Explain why strings are immutable in Python?
--We can access the index of a string but can not assign or change the index value. we can  replace a string.

In [ ]:
#For Example:
s="Pwskills"
s[1]="t" #throw an error
s

TypeError: 'str' object does not support item assignment

In [ ]:
# Modification of string
s1 = "I am a Student"
s1 = s1.replace("Student","Teacher")
s1

'I am a Teacher'

# 11.What advantages do dictionaries offer over lists for certain tasks.
-- dictionary is Perfect for key-value pairs—associate unique keys with values.

- Offer fast lookups, insertion, and deletion due to hash table implementation.

- Flexible for handling complex data—store nested complex structures, including dictionaries within dictionaries to model hierarchies

-   Lists are more memory-efficient with smaller datasets.

- Dictionaries consume more memory (keys + values) but offer speed advantages

# 12.Describe a scenario where using a tuple would be preferable over a list

---tuples are preferred over lists in the following cases:

---When we want to ensure that data is not changed accidentally. Tuples being immutable do not allow any changes in its data.


---When we want faster access to data that will not change as tuples are faster than lists.

---When we want to use the data as a key in a dictionary. Tuples can be used as keys in a dictionary, but lists cannot.

---When we want to use the data as an element of a set. Tuples can be used as elements of a set, but lists cannot.

# 13.How do sets handle duplicate values in Python ?
---Set autometically remove the duplicate value & retun the Unique value.

For exampple.

In [ ]:
Num = [1,2,2,3,5,5,5,6,6,8,8]
Num1 = set(Num)
Num1

{1, 2, 3, 5, 6, 8}

 # 14.How does the “in” keyword work differently for lists and dictionaries

---The "in" keyword works as a membership operator for lists and dictionaries.

for example.

In [ ]:
List1 = ["Fruits","vegetables","Milk","eggs"]
"Milk" in List1

True

In [ ]:
Dict1 = {"Fruits": "Apple","Vegetables":"Tomato"}
for keys in Dict1:
  print (keys)

Fruits
Vegetables

# 15.Can you modify the elements of a tuple? Explain why or why not?
---No, tuple elements can not be modified. If we want to change or modify any element of a tuple it throws an error.

For Example:

In [ ]:
emp_id = (1,2,3,4)
emp_id[1] = 100
emp_id

TypeError: 'tuple' object does not support item assignment

# 16.What is a nested dictionary, and give an example of its use case?

---In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

In [ ]:
# use case
Resturant_menu ={
   'Dish1':{"name": "Pasta","price":"250","description": "creamy pasta"},
   "Dish2":{"name": "Pizza" , "Price":"350","description":"cheese pizza"}
}
Resturant_menu

{'Dish1': {'name': 'Pasta', 'price': '250', 'description': 'creamy pasta'},
 'Dish2': {'name': 'Pizza', 'Price': '350', 'description': 'cheese pizza'}}

In [ ]:
Resturant_menu['Dish1']

{'name': 'Pasta', 'price': '250', 'description': 'creamy pasta'}

#. 17.Describe the time complexity of accessing elements in a dictionary.

--The time complexity of accessing a dictionary in Python 3 is generally considered to be O(1), or constant time. This means that regardless of the size of the dictionary, the time it takes to access a value remains constant. However, this assumes that the hash function used by Python is well-distributed and avoids collisions as much as possible.

# 18.In what situations are lists preferred over dictionaries.

--When we  need an ordered collection with duplicate value at that time lists is preferred over dictionaries. because dictionaries return unique & unorderd value.

# 19.Why are dictionaries considered unordered, and how does that affect data retrieval.
---In python version before 3.7, dictionaries were implemented as hash tables and:


*   Did not gurantee the order keys.
*   The insertion order could appear random.


*   Internally, the position of keys depended on their hash value, not on when they are add.
 From python 3.7 onward,dictionary preserve insertion order. but despite this they are still not designed for index access like list or tuple. You must access items by key.

 #How being unorderd affacted data retrieval.


*   No indexing by position.
*   oder sensitive operation fail.


*   Sorting needed extra work.

# 20.Explain the difference between a list and a dictionary in terms of data retrieval.

--In List Data can ne retrieve by accessing index. but in dictionary data can be retrieve by using key.

In [ ]:
# for Example in List.
List1 = ["orange", "apple","banana"]
List1[0] # data retrieve by using index

'orange'

In [ ]:
#in dictionary
dict1 ={"fruit1": "orange", "fruit2":"apple", "Fruit3":"banana"}
dict1["fruit1"]# data retrieve by using Key

'orange'

**Practical Questions**

In [ ]:
# 1. Write a code to create a string with your name and print it.
Str1 = "Priyanka"
print(Str1)

Priyanka

In [ ]:
# 2.Write a code to find the length of the string "Hello World".
s = "Hello World"
len(s)

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming
s = "Python Programming"
s[0:3]

'Pyt'

In [ ]:
# 4.Write a code to convert the string "hello" to uppercase.
s = "hello"
s.upper()

'HELLO'

In [ ]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
s.replace("apple","orange")

'I like orange'

In [ ]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.
lis1 = [1,2,3,4,5]
print(lis1)

[1, 2, 3, 4, 5]

In [ ]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lis=[1,2,3,4,5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [ ]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l = ['a','b','c','d']
l[1]

'b'

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
a = [10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup = ('red','green','blue','yellow')
tup[1:4]

('green', 'blue', 'yellow')

In [ ]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tup = (10,20,5,15)
print(min(tup))

5

In [ ]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup =('dog', 'cat', 'rabit')
tup[1]

'cat'

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tup =("apple","orange", "kiwi")
"kiwi" in tup

True

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a','b','c'}
print(s)

{'a', 'b', 'c'}

In [ ]:
type(s)

set

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [ ]:
s.clear()

In [ ]:
s

set()

In [ ]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1,2,3,4,}
s

{1, 2, 3, 4}

In [ ]:
s.remove(4)

In [ ]:
s

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {2,3,4}
s1&s2

{2, 3}

In [ ]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d = {"name":"Priyanka" ,"Age":"37","City":"Asansol"}
d

{'name': 'Priyanka', 'Age': '37', 'City': 'Asansol'}

In [ ]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d ={'name': 'John','age':'25'}
d

{'name': 'John', 'age': '25'}

In [ ]:
d["country"] ='USA'
d

{'name': 'John', 'age': '25', 'country': 'USA'}

In [ ]:
# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d= {'name': "Alice","age":30}
d["name"]

'Alice'

In [ ]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d ={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
d

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d ={'name': 'Alice', 'city': 'Paris'}
d.keys()

dict_keys(['name', 'city'])

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list1 = [1,2,3.5,True,"Python"]
tup = (1,2,2.3,"Tuple")
dic1 = {"name": "Priyanka","age": 37}
print(list1)
print(tup)
print(dic1)

[1, 2, 3.5, True, 'Python']
(1, 2, 2.3, 'Tuple')
{'name': 'Priyanka', 'age': 37}

In [ ]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list1 = [25,10,35,90,60]
list1.sort()

In [ ]:
list1

[10, 25, 35, 60, 90]

In [ ]:
# 28.Write a code to create a list with strings and print the element at the third index.
l= ["book","copy","pen","pencil"]
l[3]

'pencil'

In [ ]:
#.29.Write a code to combine two dictionaries into one and print the result.
d1 ={"name":"Priyanka","Age": 37,"email":"priya@gmail.com"}
d2 ={"course":"data science"}
d1.update(d2)
d1

{'name': 'Priyanka',
 'Age': 37,
 'email': 'priya@gmail.com',
 'course': 'data science'}

In [ ]:
# 30.Write a code to convert a list of strings into a set.
list1 = ["Mango","banana", "Mango","Apple"]
list1

['Mango', 'banana', 'Mango', 'Apple']

In [ ]:
type(list1)

list

In [ ]:
s1 = set(list1)# gives only unique value.
s1

{'Apple', 'Mango', 'banana'}

In [ ]:
type(s1)

set